<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.trade.mapper.UserInfoMapper" >
  <resultMap id="userVo" type="com.bs.trade.model.UserVo" >

  </resultMap>
  <select id="adminUser" resultMap="userVo">
  SELECT u.name,u.email,n.lendCount,u.phone,u.portrait,u.asset,m.outCount,x.goodsCount,y.attentionCount,z.fansCount
     FROM(SELECT COUNT(0) as lendCount FROM circulate_info WHERE lender =  #{id} )  n,
         (SELECT COUNT(0) as outCount FROM circulate_info WHERE owner =  #{id} )  m,
         (SELECT COUNT(0) as  goodsCount FROM goods WHERE owner =  #{id} )  x,
         (SELECT COUNT(0) as  attentionCount FROM focus WHERE this_id =  #{id} ) y,
         (SELECT COUNT(0) as  fansCount  FROM focus WHERE friend_id =  #{id} )   z ,user_info as u
  WHERE u.id = #{id}
  </select>
</mapper>